html { 
  background: url(images/leapOfFaith.jpg) no-repeat center center fixed; 
  background-size: cover;
}
body{
  margin: 0;
}

.container{
  display: inline-flex;
  height: 100%;
  width: 100%;
}


.left{
  text-align: center;
  height: auto;
  width: 30%;
  
}

.center{
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 40%;

}

.right{
  text-align: center;
  width: 30%;
}

#cotationSLP, #cotationCardano, #cotationUSD{
  color: #eeee;
  text-decoration: none;
  font-family: 'Concert One', cursive;
  font-size: 1.7rem;
}

ul{
  gap: 6px;
  border-radius: 15px;
  background-color: rgba(37, 36, 36, 0.933);
  list-style: none;
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: absolute;
  text-align: left;
  padding: 10px;
  text-align: left;
  font-size: larger;
  bottom: 0;
  left: 0;
  margin: 0.5rem;
  width: max-content;
  height: max-content;
  
}

.searchBox {
  width: 40%;
  position: absolute;
  top: 70%;
  height: fit-content;
  border-radius: 100px;
  padding: 4px;
  background: #f0f3ff;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.googleIcon {
  width: 50px;
}
input {
  font-size: 20px;
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
  outline: none;
  text-align: left;
}

.clock {
  margin: auto;
  border-radius: 15px;
  background-color: rgba(37, 36, 36, 0.933);
  height: max-content;
  width: max-content;
  padding: 4px;
  margin-top: 20%;
}
.clockTime {
  font-family: 'Concert One', cursive;
  color: #eeee;
  font-size: 6rem;
}
.clockAmPm {
  font-family: 'Concert One', cursive;
  font-size: 1.5rem;
  color: #eeee;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 8px 8px 25%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 1s;
  
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  padding: 10px 15px;
  border: none;
  left: 0;
  top: 0;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
}

.openbtn:hover {
  background-color: rgba(37, 36, 36, 0.933);
}

.icon{
  width: 60%;
}

#with{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 0px;
  z-index: 1;
  color: #f0f3ff;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  border: none;
}

#with:hover {
  background-color:rgb(46, 46, 46);
}

#without{
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 0;
  height: 0;
  z-index: 1;
  color: #f0f3ff;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  border: none;
}

#without:hover {
  background-color:rgb(46, 46, 46);
}