html{
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/Background.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#app{
  width: inherit;
  height: inherit;
}
